<div id="genreSong">
    <div id="genre-form">
        <label for="genre-choose">Choose genre: </label>
        <select id="genre-choose">
            {{#genres}}
            <option id=" {{objectId}} " value="{{name}}">{{name}}</option>
            {{/genres}}
        </select>
        <button id="choose-genre">Submit</button>
    </div>
    <ul>
        {{#results}}
        <li data-id="{{objectId}}">
            <h3>{{title}}</h3>
            <div class="comments">
                {{#comments}}
                <div class="current-comment" data-id="{{objectId}}">
                    <span> {{content}}</span><br/>
                    <span data-id="by.objectId">by {{by.username}}</span>
                    <span>on {{createdAt}}</span>
                </div>
                {{/comments}}
                <textarea name="add-Comment" id="add-comment" cols="30" rows="3"></textarea>
                <button class="add-comment-btn">Add Comment</button>
            </div>
            <div class="left-div">
                <audio controls>
                    <source src="{{file.url}}" type="audio/mpeg">
                </audio>
                <div><a href="{{file.url}}" download="{{title}}">Download</a></div>
                <div>Genre: {{genre.name}}</div>
                <div>{{like}} people like this</div>
            </div>
            <button class="like-songs-btn">Like</button>
            <button class="delete-songs-btn">Delete</button>
            <select class="playlist-choose">
                {{#playlists}}
                <option id="{{objectId}}" value="{{name}}">{{name}}</option>
                {{/playlists}}
            </select>
            <button class="add-to-playlist">Add to playlist</button>
        </li>
        {{/results}}
    </ul>
</div>
