<h2>Current Playlist</h2>
<div id="likePlayList">Like: {{like}}</div>
<button class="like-playlists-btn">Like</button>
<div class="play-list" data-id="{{objectId}}">
    <div class="comments">Comments:
        {{#comments}}
        <div class="current-comment" data-id="{{objectId}}">
            <span>Content: {{content}}</span><br/>
            <span data-id="by.objectId">User: {{by.username}}</span>
            <span>At: {{createdAt}}</span>
        </div>
        {{/comments}}
        <textarea name="add-Comment" id="add-comment" cols="30" rows="3"></textarea>
        <button class="add-comment-btn">Add Comment</button>
    </div>
</div>