<div class="song" data-id="{{objectId}}">
    <div>Song: <a href="{{file.url}}" download="{{title}}">Download</a></div>
    <div>Title: {{title}}</div>
    <div class="like">Like: {{like}}</div>
    <div>Genre: {{genre.name}}</div>
    <audio controls>
        <source src="{{file.url}}" type="audio/mpeg">
    </audio>
    <div class="comments">Comments:
        {{#comments}}
        <div class="current-comment" data-id="{{objectId}}">
            <span>Content: {{content}}</span><br/>
            <span data-id="by.objectId">User: {{by.username}}</span>
            <span>At: {{createdAt}}</span>
        </div>
        {{/comments}}
        <textarea name="add-Comment" id="add-comment" cols="30" rows="3"></textarea>
        <button class="add-comment-btn">Add Comment</button>
    </div>
    <button class="like-songs-btn">Like</button>
    <button class="delete-songs-btn">X</button>
    <select class="playlist-choose">
        {{#playlists}}
        <option id="{{objectId}}" value="{{name}}">{{name}}</option>
        {{/playlists}}
    </select>
    <button class="add-to-playlist">Add to playlist</button>
</div>